/* Styles Sheet */

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: lightgrey;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex: 1;
}

.header {
    display: flex;
    flex-grow: 0.1;

    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4em;
}

.menu {
    display: flex;
    flex-grow: 0.6;
    justify-content: center;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 2em;
    font-size: x-large;
    font-weight: bold;
}

.buttons {
    background-color: rgb(115, 124, 255);
    font-size: larger;
    border-radius: 2em;
}

.sliderValue {
    margin-top: -1.8em;
    color: rgb(77, 87, 223);
}


#app {
    display: grid;
    grid-gap: 1px;
    margin-left: 4em;
    margin-top: 6em;
    max-height: 500px;
    max-width: 500px;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}

.footer {
    display: flex;
    flex: 0.05;

    align-items: center;
    justify-content: center;
}

.footerText {
    font-weight: bold;
    border: 1px black solid;
    border-radius: 2em;
    padding: 0.5em;
    background-color: rgb(201, 201, 201)
}